@media (min-width: 550px){
	body{
	background: url(https://onepanel.org/projects/global-assets/Minecraft-Wallpapers-3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #fff5dd;
	font-family: 'Open Sans', sans-serif;
	}
}
@media (max-width: 550px){
	body{
	background: url(https://onepanel.org/projects/global-assets/Minecraft-Wallpapers-3.jpg) no-repeat center fixed; 
	background-size: cover;
	background-color: #fff5dd;
	font-family: 'Open Sans', sans-serif;
	}
	html{
		min-height: 100%;
	}
}

/* Centered Alignment */
.centered{
  clear:both;
  min-width: 220px;
  margin: auto;
  height: 10em;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 12%;
}

/*
   
   Images for the portal and when hovering.
   
   The images linked bellow will need to be edited upon reciving this template.
   The CraftTillDawn images are located in /assets/img/icons/
   To link them correctly here follow this structure: <Path To Website>/assets/img/icons/<image-name>.png
   
*/

.image-forum {
   margin-bottom: 10px;
   margin: auto;
   width: 200px;
   content: url('https://onepanel.org/projects/global-assets/book.png');
}
.image-forum:hover {
   margin-bottom: 10px;
   content: url('https://onepanel.org/projects/global-assets/book-quill-ink.png');
}
.image-store {
   margin-bottom: 10px;
    margin: auto;
   width: 200px;
   content: url('https://onepanel.org/projects/global-assets/closed-chest.png');
}
.image-store:hover {
   margin-bottom: 10px;
   content: url('https://onepanel.org/projects/global-assets/open-chest-diamond.png');
}
.image-staff {
   margin-bottom: 10px;
    margin: auto;
   width: 200px;
   content: url('https://onepanel.org/projects/global-assets/blank-gold-badge.png');
}
.image-staff:hover {
   margin-bottom: 10px;
   content: url('https://onepanel.org/projects/global-assets/vip-gold-badge.png');
}
.image-users {
   margin-bottom: 10px;
    margin: auto;
   width: 200px;
   content: url('https://onepanel.org/projects/global-assets/Gold-Chest.png');
}
.image-users:hover {
   margin-bottom: 10px;
   content: url('https://onepanel.org/projects/global-assets/Diamond-Chest.png');
}
.sectionHover{
   -webkit-transition: margin 0.5s ease-out;
   -moz-transition: margin 0.5s ease-out;
   -o-transition: margin 0.5s ease-out;
}
.sectionHover:hover{
   margin-top: 4px;	
}

/* Server Status */
@media (min-width: 551px) {
.status{
	background-color: rgba(169, 169, 169, 0.4);
	color: #fff;
	font-size: 20px;
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 9px;
	padding-bottom: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
}
}

/* Logo */
.logo{
	margin: auto;
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
}

.font-purple{
	color: #A71EE2;
}

/* Text */

.default-text {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  color: #fff;
}
.default-text:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.default-text:hover:before, .default-text:focus:before, .default-text:active:before {
  left: 0;
  right: 0;
}
.default-text a{
	color: #fff;
	text-decoration: none;
}
.default-text:hover:before a, .default-text:focus:before a, .default-text:active:before a{
	color: #fff;
	text-decoration: none;
}

/* Footer Items */
.craftTillDawn{
	color: #fff;
	font-size: 15px;
	margin-top: 15px;
}
.craftTillDawn:hover{
	color: #fff;
	font-size: 15px;
}
.onePanelDevelopment{
	color: #fff;
	font-size: 15px;
	margin-top: 15px;
}
.onePanelDevelopment:hover{
	color: #fff;
	font-size: 15px;
}

/* Make it look fancy */
@media (max-width: 550px) {
	.status{
	background-color: rgba(169, 169, 169, 0.4);
	color: #fff;
	font-size: 20px;
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 9px;
	padding-bottom: 1px;
	margin-top: 15px;
	margin-bottom: 15px
	}
}
#icons .col-md-3 { 
min-height: 240px;
}